.research_section{
    margin: 0 5% 4rem;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.research_section{
    margin-top: 2rem;
}

.research_section .research_section_element{
    height: 450px;
    position: relative;
    border-radius: 15px 15px 0 15px;
    overflow: hidden;
}

.research_section .research_section_element .overlay{
    background-color: rgba(0, 0, 0, 0.5);
}

.research_section .research_section_element:nth-child(even){
    border-radius: 15px 15px 15px 0;
}

.research_section .research_section_element img{
    width: 100%;
    height: 100%;
}

.research_section .research_section_element .research_section_element_content{
    position: absolute;
    top: 10%; left: 5%;
    z-index: 7;
    color: white;
    width: 90%;
}

.research_section .research_section_element .research_section_element_content span{
    background: var(--color-secondary);
    padding: 5px 10px;
    border-radius: 10px;
} 

.research_section .research_section_element .research_section_element_content h3{
    margin: 15% 0 15px;
} 

.research_section .research_section_element .research_section_element_content p{
    margin-bottom: 15%;
    font-size: 16px;
    border-left: 3px solid white;
    padding: 0px 10px 0px 20px;
}

.research_section .research_section_element .research_section_element_content b{
    cursor: pointer;
} 


.research_section .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 90px !important;
    left: 50% !important;
    transform: translate(-50%, 0);
    border-radius: 15px;
    flex-wrap: nowrap !important;
}

.research_section .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    opacity: 1 !important;
    background-color: white !important;
}

.research_section .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active{
    background-color: var(--color-secondary) !important;
    width: 15px !important;
    border-radius: 3px;
}

@media screen and (max-width: 450px) {
    .research_section{
        margin: 0 5% 2rem;
        width: 90%;
    }
    
    .research_section{
        margin-top: 1rem;
    }
    
    .research_section .research_section_element{
        height: 370px;
    }

    .research_section .research_section_element .research_section_element_content p{
        margin-bottom: 10%;
        font-size: 14px;
        border-left: 3px solid white;
        padding: 0px 0px 0px 15px;
    }

    .research_section .research_section_element .research_section_element_content h3{
        margin: 10% 0 10px;
    } 
}