.nav_menu_section{
    justify-content: space-between;
    gap: 1rem;
    width: 70%;
}

.nav_menu_section .displayBar{
    display: none;
}

.nav_menu_section ul.bar{
    gap: 2rem;
    text-transform: capitalize;
}

.nav_menu_section ul .link li .navElement{
    align-items: center;
    gap: 15px;
    justify-content: start;
}

.nav_menu_section ul .link li .icon{
   font-size: 1.3rem;
   opacity: .9;
}

nav .icon, nav .icon path{
    fill: var(--color-white-pur);
    color: var(--color-white-pur);
}

.nav_menu_section ul .link.active p, .nav_menu_section ul .link.active .icon path{
    color: var(--color-secondary);
    font-weight: bold;
    fill: var(--color-secondary);
}

.nav_menu_section ul .link::before{
    background-color: var(--color-secondary);
    left: calc(49%); top: 95%;
    border-radius: 20px;
    width: 15px; height: 5px;
    opacity: 0;
    transform: translateY(10px);
    transition: var(--transition);
}

.nav_menu_section ul .link.active::before,.nav_menu_section ul .link:hover::before{
    transform: translate(0);
    opacity: 1;
}

ul li p{
    color: var(--color-white-pur);
    flex-wrap: nowrap;
    font-size: 17px;
    align-items: center;
    transition: var(--transition);
    white-space: nowrap;
}

.nav_menu_section .icons{
    font-size: 2rem;
    gap: 15px;
}

.nav_menu_section .icons .icon{
    background: var(--color-secondary);
    padding: 5px;
    border-radius: 5px;
    transition: var(--transition);
    gap: 1rem;
}

.nav_menu_section .icons .icon path{
    fill: white;
}

.nav_menu_section .icons .icon:hover{
    background: white;  
    transform: scale(.9) rotate(3deg);
}

.nav_menu_section .icons .icon:hover path{
    fill: var(--color-secondary);
}

.nav_menu_section button{
    display: none;
}

@media (max-width: 1050px) {
    .nav_menu_section .icons{
        display: none;
    }    
}


@media (max-width: 900px){
    .nav_menu_section{
        display: block;
        position: fixed;
        background: var(--color-primary);
        top: 20%;
        border-radius: 30px 0 0 0;
        padding: 50px 7%;
        z-index: 60;
        width: 300px;
    }

    .nav_menu_section .displayBar{
        display: block;
        position: absolute;
        top: 20px; right: 5%; 
        transform: rotate(45deg);
        font-size: 1.5rem;
    }

    .nav_menu_section .icons{
        display: flex;
        justify-content: start;
        margin-top: 20px;
        gap: 20px;
    }    

    .nav_menu_section ul.bar{
        display: block;
    }

    .nav_menu_section ul .link::before{
        display: none;
    }

    .nav_menu_section ul .link li .navElement{
       margin-bottom: 20px;
    }

    .nav_menu_section button{
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    .nav_menu_section{
        width: 90%;
        top: 15%;
        left: 5%;
        justify-self: center;
    }

    ul li p{
        font-size: 16px;
    }
}