.newsTesti{
  justify-content: center;
  padding:  3rem 10%;
  align-items: end;
  color: var(--color-white-pur);
}

.newsTesti .testimonials{
  width: fit-content !important;
  max-width: 40%;
  align-items: start !important;
  justify-content: start !important;
  align-content: center !important;
}

.newsTesti .testimonials .testimonial {
  width: 350px !important;
  height: auto !important;
  padding: 30px 20px 10px;
}

.newsTesti .testimonials .swiper-slide {
  border-radius: 18px 0px 18px 18px;
  font-size: 22px;
  font-weight: bold;
  background: var(--color-primary);
}

 .newsTesti .testimonials .swiper-slide:nth-child(1n) {
  /* background-color: rgb(54, 94, 77); */
  border:2px solid rgb(54, 94, 77);
}

 .newsTesti .testimonials .swiper-slide:nth-child(2n) {
  /* background-color: rgb(0, 140, 255); */
  border:2px solid rgb(0, 140, 255);
}

 .newsTesti .testimonials .swiper-slide:nth-child(3n) {
  border:2px solid rgb(10, 184, 111);
}

 .newsTesti .testimonials .swiper-slide:nth-child(4n) {
  border:2px solid rgb(211, 122, 7);
  /* background-color: rgb(211, 122, 7); */
}

 .newsTesti .testimonials .swiper-slide:nth-child(5n) {
  /* background-color: rgb(118, 163, 12); */
  border:2px solid rgb(211, 122, 7);
}

 .newsTesti .testimonials .swiper-slide:nth-child(6n) {
  /* background-color: rgb(180, 10, 47); */
  border:2px solid rgb(180, 10, 47);
}

 .newsTesti .testimonials .swiper-slide:nth-child(7n) {
  /* background-color: rgb(35, 99, 19); */
  border:2px solid rgb(35, 99, 19);
}

.newsTesti .testimonials .testimonial img{
  border-radius: 50%;
}

.newsTesti .testimonials .testimonial p{
  font-size: 17px;
  font-weight: normal;
  margin: 10px 0;
  text-align: left;
  padding-left: 10px;
  border-left: 3px solid var(--color-black-opacity);
}
.newsTesti .testimonials .testimonial .authorInfo{
  justify-content: start;
  align-items: center;
  gap: 10%;
  font-size: 19px;
}

.newsTesti .newsTesti__content{
  flex-wrap: nowrap;
}


.newsTesti .newsletter{
  margin-top: 2rem;
  margin-left: 10%;
  width: 50%;
}

.newsTesti .newsletter form input{
  padding: 15px 10px;
  border: 1px solid var(--color-black-opacity);
  border-radius: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  width: 100%;
}

.newsTesti .newsletter form .input{
  position: relative;
  min-width: 300px;
}

.newsTesti .newsletter form .input label{
  position: absolute;
  top: -9px;
  left: 20px;
  font-size: 12px;
  padding: 0 8px;
  background-color: var(--color-primary);
}

.newsTesti .newsletter form button{
  background: var(--color-secondary);
  color: white;
  border: none;
}

@media screen and (max-width: 1000px){
  .newsTesti{
    padding:  3rem 5%;
  }
}

@media screen and (max-width: 800px) {
  .newsTesti .newsTesti__content{
    flex-direction: column-reverse;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .newsTesti .testimonials{
    width: 80%;
  }

  .newsTesti .newsletter{
    margin-top: 2rem;
    margin-left: 0%;
    width: 100%;
  }
  

  .newsTesti .testimonials{
    max-width: 100% !important;
  }
}

@media screen and (max-width: 490px) {
  .newsTesti .testimonials .testimonial p{
    font-size: 15px;
  }

  .newsTesti .testimonials .testimonial {
    width: 90% !important;
    height: auto !important;
    padding: 30px 20px 10px;
  }
}