.newsTesti{
  justify-content: center;
  padding:  3rem 10%;
  align-items: end;
  color: var(--color-white-pur);
}

.newsTesti .overlay{
  background: rgba(0, 0, 0, 0.539);
}

.newsTesti .newsTesti__content{
  flex-wrap: nowrap;
  gap: 0;
  justify-content: space-betwenn;
  align-items: center;
  margin-top: rem;
}

.newsTesti .newsTesti__content .donnate{
 background: url("../../assets/don.jpeg") center/cover no-repeat; 
 max-width: 500px;
 color: white;
  padding: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.newsTesti .newsTesti__content .donnate .icon1,  .newsTesti .newsTesti__content .donnate p, .newsTesti .newsTesti__content .donnate h2, .newsTesti .newsTesti__content .donnate button{
  z-index: 30;
  position: relative;
}

.newsTesti .newsTesti__content .donnate .icon1{
 font-size: 35px;
}

.newsTesti .newsTesti__content .donnate p{
 margin: 20px 0;
 font-size: 18px;
}


.newsletter{
  margin-top: 2rem;
  width: 40%;
}

.newsletter form input, .newsletter form textarea{
  padding: 15px 10px;
  border: 1px solid var(--color-black-opacity);
  border-radius: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  width: 100%;
}

.newsletter form .input{
  position: relative;
  min-width: 300px;
}

.newsletter form textarea{
  height: 150px;
}

.newsletter form .input label{
  position: absolute;
  top: -9px;
  left: 20px;
  font-size: 12px;
  padding: 0 8px;
  background-color: var(--color-primary);
}

.newsletter form button{
  background: var(--color-secondary);
  color: white;
  border: none;
}

@media screen and (max-width: 1000px){
  .newsTesti{
    padding:  3rem 5%;
  }
}

@media screen and (max-width: 800px) {
  .newsTesti .newsTesti__content{
    flex-direction: column-reverse;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .newsTesti .testimonials{
    width: 80%;
  }

  .newsletter{
    margin-top: 2rem;
    margin-left: 0%;
    width: 100%;
  }
  

  .testimonials{
    max-width: 100% !important;
  }

  .newsTesti__content .donnate p{
    font-size: 17px;
  }

  .newsletter form .input{
    position: relative;
    min-width: 90%;
  }
}

@media screen and (max-width: 490px) {
  .newsTesti .testimonials .testimonial p{
    font-size: 15px;
  }

  .newsTesti .testimonials .testimonial {
    width: 90% !important;
    height: auto !important;
    padding: 30px 20px 10px;
  }

  .newsTesti .newsTesti__content .donnate p{
    font-size: 15px;
    text-align: left;
  }
}