.partenaires{
    padding: 0 5%;
    color: var(--color-white-pur);
}

.partenaires__elts{
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 4%;
    gap: 1rem;
}

.partenaires__elts .partenaire{
    width: 200px;
}