.slides{
    margin-top: 6rem;
    padding: 2rem 5% 0;
    color: var(--color-white-pur);
}

.slides .headers{
    gap: 5%;
    grid-template-columns: 2fr 3fr;
}

.slides .headerIllustration__socialMedia{
    gap: 5%;
    width: 45%;
}

.slides .headerIllustration{
    position: relative;
    width: 70vw;
    max-height: 400px;
    justify-self: center;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
}
 
.slides .headerIllustration img{
    width: 100%;
    height: 100%;
}

.slides .headers .headerContent{
    position: relative;
    top: 0;
    left: 0;
    height: auto;
}

.slides .headers .contentCategorie span{
    padding-left: 5.4rem;
}

.slides .headers .contentCategorie span::before{
    background: var(--color-white-pur);
    left: 0; top: 49%;
    width: 5.3rem;
}

.slides .headers h2{
    font-size: 3rem;
    margin: 1rem 0 1rem;
}

.slides .headers p{
    margin: 1rem 0 2rem;
    max-width: 500px;
    font-size: 18px;
}

.slides .headers .headerDetails{
    justify-content: start;
    gap: 2rem;
    margin-bottom: 3rem;
}

.slides .headers .home__social{
    display: none;
}

@media screen and (max-width: 800px) {
    .slides{
        margin-top: 2rem;
    }

    .slides .headers{
        flex-direction: column-reverse;
    }

    .slides .headerIllustration__socialMedia{
        width: 100%;
    }

    .slides .headerIllustration{
        justify-self: center;
        width: 90%;
        height: 350px;
        max-width: 400px;
        overflow: hidden;
        border-radius: 10px
    }

    .slides .headers h2{
        font-size: 2rem;
        margin: 0rem 0 .2rem;
    }
    
    .slides .headers p{
        margin: .5rem 0 1rem;
        max-width: 450px;
        font-size: 17px;
        width: 100%;
    }

    .slides .headers .headerDetails__indicators{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .slides .headers .headerDetails{
        margin-top: 3rem;
        margin-bottom: 0rem;
    }

    .slides .headers .home__social{
        display: grid;
        gap: .8rem;
        width: 10%;
    }

    .slides .headers .home__social .icon{
        display: block;
        font-size: 26px;
        border:1px solid var(--color-secondary);
        border-radius: 50%;
        padding: 4px;
    }

    .slides .headers .headerContent{
        margin-top: 10px;
    }
}

@media screen and (max-width: 650px) {
    .slides .headerIllustration{
       height: 250px;
    }
}

@media screen and (max-width: 450px) {
    .slides{
        margin-top: 0rem;
        padding: 1rem 0 0;
    }

    .slides .headers h2{
        font-size: 1.5rem;
    }

    .slides .headers p{
        font-size: 16px;
    }

    .slides .headerIllustration{
        height: 250px;
     }

    .slides .headerIllustration__socialMedia{
        gap: 20px;
        width: 100%;
    }

    .slides .headers .home__social p{
        padding: 0 1rem 0 0;
    }

    .slides .headers .headerDetails{
        gap: .5rem;
        flex-wrap: wrap;
    }
}