nav{
    margin: 0rem 0 4rem;
    position: relative;
    z-index: 100;
}

nav .nav{
    position: fixed;
    width: 100%;
    padding: .5rem 2rem .5rem;
    background-color: var(--color-primary);
    border-radius: 0 0 7px 7px;
    box-shadow: 2px 2px 2px var(--color-black-opacity);
}


nav .nav .icon, nav .nav .icon path{
    fill: var(--color-white-pur);
    color: var(--color-white-pur);
}

nav .navbar{
    gap: 2rem;
}

nav .navbar .bar, .menuReduceScreen .bar{
    align-items: center;
    gap: 1.5rem;
    margin-top: -8px;
}

ul .link.active p, ul .link.active .icon path{
   color: var(--color-secondary);
   font-weight: bold;
   fill: var(--color-secondary);
}

ul .link li{
    align-items: center;
    gap: 1rem;
    justify-content: start;
}

ul .link li .icon{
   font-size: 1.3rem;
   opacity: .8;
}

ul .link::before{
    background-color: var(--color-secondary);
    left: 0px; top: calc(100% + 2px);
    border-radius: 0 5px 5px 0;
    width: 35%; height: 3px;
    transform: translateX(-10px);
    opacity: 0;
    transition: var(--transition);
}

ul .link.active::before,ul .link:hover::before{
    transform: translateX(0);
    opacity: 1;
}

ul li p{
    color: var(--color-white-pur);
    flex-wrap: nowrap;
    font-size: 16px;
    align-items: center;
    transition: var(--transition);
    white-space: nowrap;

}

nav .navbar ul li:hover p{
   letter-spacing: 1px;
}

nav .navbar ul li p .subicon{
    font-size: 16px;
    margin-left: 2px;
}

nav .navbarContent{
    gap: 3rem;
    align-items: center;
}

nav .navbarContent .search{
    position: relative;
    height: 45px;
}

nav .navbarContent .search input{
   padding: 0 10px 0 10px;
   background: transparent;
   border-radius: 5px;
   font-size: 15px;
   color: var(--color-white-pur);
    border: .5px solid var(--color-white-pur);
    height: 100%;
    transition: var(--transition);
    width: 100%;
}

nav .navbarContent .search input:hover{
   box-shadow: 2px 2px 2px var(--color-secondary);
}

nav .navbarContent .search .icon{
   position: absolute;
   left: 80%;
   top: 0; width: 15px; 
   height: 100%;
   fill: var(--color-white-pur);
}

nav .navbarContent .menuBtn{
    display: flex;
    font-size: 2rem;
    transition: var(--transition);
}

nav .navbarContent .menuBtn:hover path{
    fill: var(--color-secondary);
}

nav .menu{
    position: fixed;
    right: 0;
    top: 0; width: 100%;
    height: 100vh;
    transform: translateX(130%);
    color: var(--color-white-pur);
    gap: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: .3s ease;
}

nav .menu .menuContent{
    background: var(--color-primary);
    width: 35%;
    height: 100%;
    min-width: 450px;
    padding: 7% 1rem 3% 2rem;
    transition: .2s ease .4s;
    overflow-y: auto;
}

nav .menu .menuOverlay{
    height: 100vh;
    width: 65%;
    background-color: transparent;
    cursor: crosshair;
}

nav .menu p, nav .menu .icon, .menu h3{
    color: var(--color-white-pur);
    fill: var(--color-white-pur);
}

nav .menu .icon.displaybar{
    position: absolute;
    top: 1rem; left: 5%;
    transform: rotate(45deg);
    fill: var(--color-white-pur);
    font-size: 2rem;
    transition: var(--transition);
}

nav .menu .icon.displaybar:hover{
    fill: var(--color-secondary);
}

nav .menu .ulMenu{
    margin: 3rem 0;
}

nav .menu .ulMenu h3{
    margin-bottom: .5rem;
}

nav .menu .ulMenu li{
    justify-content: start;
    gap: 1rem;
    align-items: center;
    margin-bottom: 7px;
}

nav .menu .ulMenu.socialMedia{
    width: 45%;
    margin: 3rem 0;
}

nav .menu .ulMenu.socialMedia .icon{
    background: var(--color-secondary);
    padding: 7px; border-radius: 5px;
    font-size: 2.5rem;
    transition: var(--transition);
    fill: white;
}

nav .menu .ulMenu.socialMedia .icon:hover{
    transform: rotate(30deg);
}

nav .menu .menuReduceScreen .bar{
    display: none;
}

.darkmodeBtn{
    align-items: center;
    justify-content: start;
    gap: 7px;
}

.darkmodeBtn .icon{
    padding: 8px;
    border: .5px solid var(--color-secondary);
    fill: white;
    color: white;
    font-size: 2.5rem;
    border-radius: 50%;
}

@media (max-width: 1150px) {
    nav .navbar .bar{
        gap: 1rem;
    }

    nav .navbarContent .search{
        display: none;
    }
}


@media (max-width: 900px) {

    nav .menu .menuContent{
        padding: 8% 1rem 5% 2rem;
    }

    nav .menu .menuReduceScreen .bar{
        display: block;
    }

    nav .menu .menuContent{
       min-width: 400px;
       width: 50vw;
    }

    nav .menu .ulMenu.socialMedia{
        width: 80%;
    }

    nav .menu .ulMenu.socialMedia .icon{
        font-size: 2rem;
        padding: 5px;
    }

    nav .navbar .bar, nav .menu p.description, nav .menu .ulMenu.ulMenuContact{
        display: none;
    }   

    nav .menu .menuReduceScreen{
        width: 100%;
        margin-top: 2rem;
    }

    nav .menu .menuReduceScreen .bar{
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        margin: 1rem 10px 1rem 0;
        width: 100%;
    }

    .menuReduceScreen ul .link li{ padding-left: 7px; margin: 10px 0;}

    .menuReduceScreen ul .link::before{
        display: none;
    }
    
    .darkmodeBtn .icon{
        padding: 6px;
        border: .5px solid var(--color-secondary);
        fill: white;
        color: white;
        font-size: 1.9rem;
        border-radius: 50%;
    }

    nav .menu .icon.displaybar{
        position: absolute;
        top: .5rem; left: 2%;
        transform: rotate(45deg);
        fill: var(--color-white-pur);
        font-size: 2rem;
        transition: var(--transition);
    }

    nav .menu .ulMenu{
        margin: .5rem 0;
    }
    

    nav .menu .ulMenu h3{
        margin-bottom: .5rem;
    }
    
}

@media (max-width: 490px){
    nav{
        margin: 0 0 4rem;
    }

    .logo{
        border-radius: 7px;
        font-size: 17px;
    }

    nav .nav{
        padding: .4rem .5rem .4rem;
        background-color: var(--color-primary);
        border-radius: 0 0 7px 7px;
        width: 100%;
    }

    nav .menu .menuContent{
        min-width: 270px;
     }
 
     nav .menu .ulMenu.socialMedia{
         width: 80%;
     }

    nav .menu .menuContent{
        padding-top: 2rem;
        padding-left: 1rem;
    }

    nav .menu .menuReduceScreen .bar{
        gap: .7rem;
    }

    nav .menu .icon.displaybar{
        left: 1rem;
        font-size: 1.4rem;
    }
}