nav{
    margin: 0rem 5% 4rem;
    position: relative;
    z-index: 100;
}

nav .nav{
    position: fixed;
    width: 90%;
    justify-content: space-between;
    padding: .5rem 3% .2rem 0;
    background-color: var(--color-primary);
    border-radius: 0 0 7px 7px;
    box-shadow: 2px 2px 2px var(--color-black-opacity);
}

.nav .overlay{
    position: fixed;
}

nav .menuBtn{
    display: none;
    font-size: 2rem;
    transition: var(--transition);
}

nav .navbarContent .menuBtn:hover path{
    fill: var(--color-secondary);
}

.darkmodeBtn .icon{
    padding: 5px;
    border: .5px solid var(--color-secondary);
    fill: white;
    color: white;
    font-size: 2rem;
    border-radius: 50%;
}

nav .overlay{ display: none;  }

@media (max-width: 800px) {
    nav .menuBtn{
        display: block;
    }

    .darkmodeBtn .icon{
        padding: 6px;
        border: .5px solid var(--color-secondary);
        fill: white;
        color: white;
        font-size: 1.9rem;
        border-radius: 50%;
    }

    nav .menu .icon.displaybar{
        position: absolute;
        top: .5rem; left: 2%;
        transform: rotate(45deg);
        fill: var(--color-white-pur);
        font-size: 2rem;
        transition: var(--transition);
    }

    .darkmodeBtn{
        display: none;
    }

    nav .overlay{ 
        display: block;  
        background: #000000c5;
    }
    
}

@media (max-width: 490px){
    nav{
        margin: 0rem 0% 4rem;
    }

    nav .nav{
        width: 100%;
    }

    .logo{
        border-radius: 7px;
        font-size: 17px;
    }

    nav .menu .icon.displaybar{
        left: 1rem;
        font-size: 1.4rem;
    }
}