.error-container {
    display: flex;
    align-items: center;
    padding: 50px;
  }
  
.error-container   .error-content {
    text-align: left;
  }
  
.error-container  h1 {
    font-size: 64px;
    margin-bottom: 20px;
  }
  
.error-container  p {
    font-size: 20px;
}