@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

*, ::after, ::before{
    padding: 0;
    margin: 0;
    border: none;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: var(--color-dark);
}

:root{
    /* COLORS */
    --color-primary: white;
    --color-secondary: #1E80DA;
    --color-white: rgba(0, 0, 0, 0.85);
    --color-white-pur: #0c111b;
    --color-black: rgba(0, 0, 0, 0.9);
    --color-text: rgba(0, 0, 0, 0.7);
    /* --color-body: rgb(240, 237, 237); */
    --color-section: white;
    --color-black-opacity: rgba(0, 0, 0, .2);

    /* GENERAL TRANSITION */
    --transition: all .2s ease;
}

body .app.theme{
    /* COLORS */
    --color-primary: #0c111b;
    --color-secondary: #1E80DA;
    /* --color-secondary: rgb(208, 48, 208); */
    --color-white: rgba(255, 255, 255, 0.85);
    --color-white-pur: #ffffff;
    --color-black: rgba(0, 0, 0, 0.9);
    --color-text: rgba(255, 255, 255, 0.7);
    /* --color-body: #0c111b; */
    --color-section: transparent;
    --color-black-opacity: rgba(255, 255, 255, 0.336);

    /* GENERAL TRANSITION */
    --transition: all .2s ease;
}

html{
    scroll-behavior: smooth;
}

body, button, input{
    font-family: 'Montserrat', sans-serif;
}

body{
    line-height: 1.6;
    overflow-x: hidden;
}

p{
    font-size: 17px;
}

body .app{
    background: var(--color-primary);
    overflow-x: hidden;
}

.section{
    margin: 3rem 3%;
    background: var(--color-primary);
    padding: 3rem 2%;
    min-height: 55vh;
}

.btn{
    display: inline-block;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .8rem;
    background: transparent;
    color: var(--color-dark);
    cursor: pointer;
    padding: 8px 15px;
    white-space: nowrap;
    transition: var(--transition);
}

.overlay{
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0 ;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.3);
}

.grid{
    display: grid;
}

.flex{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.icon{
    cursor: pointer;
}

.before, .after{
    position: relative;
}

.before::before, .after::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}


@media (max-width: 480) {
    p{
        font-size: 16px;
    }
}