.abonnementTypes{
    padding: 0 5%;
    margin: 6rem 0;
}

.abonnementTypes .abonnements{
    margin: 2rem 0;
}

.abonnementTypes h1{
   text-align: center;
   font-size: 2rem;
   color: var(--color-white-pur);
}

.abonnementTypes .abonnements .abonnement{
    padding: 2rem 5%;
    background: var(--color-primary);
    gap: 5%;
    color: var(--color-white-pur);
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1),
    -2px -2px 7px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
    border-radius: 15px 15px 0 0;
    white-space: nowrap;
}

.abonnementTypes .abonnements .abonnement:hover{
    border: none;
}

.abonnementTypes .abonnements .abonnement:nth-child(even){
   background: var(--color-secondary);
   color: white;
   border-radius: 0;
}

.abonnementTypes .abonnements .abonnement:nth-last-child(1){
    border-radius: 0 0 15px 15px;
}

.abonnementTypes .abonnements .abonnement .abonnementTitle h2{
    font-size: 1.6rem;
    justify-content: start;
    gap: .5rem;
    margin-bottom: 10px;
}

.abonnementTypes .abonnements .abonnement .abonnementTitle h2 p{
    display: none;
}

.abonnementTypes .abonnements .abonnement .abonnementTitle h2 .icon{
    font-size: 3rem;
}

.abonnementTypes .abonnements .abonnement .abonnementTitle .prices{
    gap: 1rem;
    max-width: 200px;
}

.abonnementTypes .abonnements .abonnement .abonnementTitle .oldPrice{
    text-decoration: line-through;   
}

.abonnementTypes .abonnements .abonnement .abonnementTitle .newPrice{
    font-size: 1.5rem;
    font-weight: 800;
}

.abonnementTypes .abonnements .abonnement .abonnementDetails{
    line-height: 35px;
    font-size: 1rem;
    width: 50;
}

.abonnementTypes .abonnements .abonnement .abonnementDetails .icon{
    margin-right: 5px;
}

.abonnementTypes .abonnements .abonnement button{
    border-radius: 15px;
    background: var(--color-secondary);
    padding: 12px 25px;   
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: var(--transition);
}

.abonnementTypes .abonnements .abonnement button:hover{
    gap: 2rem;
}

.abonnementTypes .abonnements .abonnement:nth-child(even) button{
    background-color: white;
    color: var(--color-secondary);
}

.abonnementTypes .abonnements .abonnement button .icon{
   font-size: 1.5rem;  
}

@media (max-width:950px) {
    .abonnementTypes h1{
        font-size: 1.6rem;
     }

    .abonnementTypes .abonnements .abonnement{
        flex-direction: column;
        gap: 2rem;
        max-width: 450px;
        padding: 3rem 5%;
        text-align: center;
        margin: auto;
    }

    .abonnementTypes .abonnements .abonnement .abonnementTitle h2 p{
        display: block;
    }

    .abonnementTypes .abonnements .abonnement .abonnementTitle h2{
        font-size: 1.4rem;
    }
    
    .abonnementTypes .abonnements .abonnement .abonnementTitle h2 .icon{
        font-size: 1.6rem;
    }

    .abonnementTypes .abonnements .abonnement .abonnementTitle .prices{
        max-width: 100%;
        justify-content: center;
        white-space: nowrap;
    }
    
    .abonnementTypes .abonnements .abonnement .abonnementTitle .oldPrice{
          margin-bottom: -10px;
    }
    
    .abonnementTypes .abonnements .abonnement .abonnementTitle .newPrice{
        font-size: 2.5rem;
    }

    .abonnementTypes .abonnements .abonnement .abonnementDetails{
        line-height: 50px;
    }

    .abonnementTypes .abonnements .abonnement .abonnementDetails p::before{
        background: rgba(0, 0, 0, 0.1);
        width: 100%; height: 3px;
        border-radius: 50%; 
        top: 0; left: 0;  
    }

}

@media (max-width:480px) {
    .abonnementTypes h1{
        font-size: 1.4rem;
     }

    .abonnementTypes .abonnements .abonnement{
        white-space: wrap;
    }

    .abonnementTypes .abonnements .abonnement .abonnementTitle h2 p{
        display: block;
    }

    .abonnementTypes .abonnements .abonnement .abonnementTitle h2{
        font-size: 1.3rem;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .abonnementTypes .abonnements .abonnement .abonnementTitle .prices{
        flex-wrap: wrap;
    }
    
    .abonnementTypes .abonnements .abonnement .abonnementTitle .newPrice{
        font-size: 2.2rem;
    }

    .abonnementTypes .abonnements .abonnement .abonnementDetails{
        line-height: 35px;
    }

    .abonnementTypes .abonnements .abonnement .abonnementDetails p{
        padding: 10px 0;
    }

    .abonnementTypes .abonnements .abonnement:hover{
        transform: translateY(-15px) scaleY(1.02);
        border: none;
    }

}